name: Test Docs

on: push

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    name: Test Docs

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
        with:
          enable-cache: true

      - name: Setup python
        run: uv python install 3.9

      - run: make install-docs

      - run: make test-docs
